    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .car{
    position: relative;
    }
    .bg-car img{
    width: 100%;
    }
    .car-img img{
    position: absolute;
    width: 300px;
    top: 35%;
    animation: car 3s linear infinite;
    }
    @keyframes car {
    0%{
    transform: translateX(0px);
    }
    25%{
    transform: translate(400px);
    }
    50%{
    transform: translate(800px);
    }
    75%{
    transform: translateX(1200px);
    }
    100%{
    transform: translateX(1600px);
    }
    }